/* 
 * Basic styles, based on 520 Grid system
 */

body {
	margin: 0px auto;
	padding: 0;
	border: 0;
	overflow:hidden;
	font-family: "lucida grande" ,tahoma,verdana,arial,sans-serif;
    font-size: 11px;
    color: #333333;
}
.container {
	font: 12px/140% Arial, Helvetica, sans-serif;
	width: 488px;
	margin: 0 auto;
	padding: 0 16px;
}
.grid1, .grid2, .grid3, .grid4, .grid5, .grid6, .grid7, .grid8, .grid9, .grid10, .grid11, .grid12 {
	float: left;
	display: inline;
	margin-left: 16px;
}
.grid1 { width: 26px; }
.grid2 { width: 68px; }
.grid3 { width: 110px; }
.grid4 { width: 152px; }
.grid5 { width: 194px; }
.grid6 { width: 236px; }
.grid7 { width: 278px; }
.grid8 { width: 320px; }
.grid9 { width: 362px; }
.grid10 { width: 404px; }
.grid11 { width: 446px; }
.hentry, .grid12 { width: 488px; }
.first {
	margin-left: 0px;
	clear: left;
}
/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix {
	zoom: 1;
} /* IE6 */
*:first-child+html .clearfix {
	zoom: 1;
} /* IE7 */


/*
 * Custom styles
 */
 
/* Images */

img {
	border: none;
}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	display: inline;
}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	display: inline;
}
.alignleft {
	float:left;
	padding:2px 0 0 10px;
}
.alignright {
	float:right;
	padding:2px 10px 0 5px;
}

/* Facebook-like styles */
a {
	color: #3b5998;
    outline-style: none;
    text-decoration: none;
    font-size: 11px;
    font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

h1 {
	color: #1C2A47;
    font-size: 20px;
    font-weight: bold;
}

h1 a {
	color: #3b5998;
    font-size: 20px;
    font-weight: bold;
}

h1 a:hover {
	color: #3b5998;
	text-decoration: underline;
	font-size: 20px;
    font-weight: bold;
}

h2 {
	width: 468px;
	background-color: #f7f7f7;
    border: 1px solid #cccccc;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}

h3 {
	width: 468px;
	background-color: #eceff6;
    border: 1px solid #d4dae8;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}

h4 {
	width: 468px;
	background-color: #fff9d7;
    border: 1px solid #e2c822;
    color: #333333;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
}